.orders-index {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  width: 1200px;
  margin: 40px auto;
  .pending {
    background: #78c9a3;
  }
  .very-late {
    background: rgb(245, 245, 196);
  }
  .not-normal {
    background: #cfe2f2;
  }
}

